{% include "../components/page-info.twig" with {
    breadcrumbs: ['Главная', 'Контакты'],
    title: "Контакты"
} %}

<section class="contacts">
    <div class="container">
        <div class="contacts__logo">
            <img src="./assets/images/logo-center.png" alt="">
        </div>

        <div class="contacts__info">
            Официальный представитель BRAIT<br />
            в вашем регионе
        </div>

        <a href="tel:8 800 555 33 33" class="contacts__phone">
            8 800 555 33 33
        </a>

        <div class="contacts__order-call">
            {% include "../UI/button.twig" with {
                text: "Заказать звонок",
                colorClass: "bordered-green"
            } %}

            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path d="M18.8561 0H18.8466C8.45248 0 0 8.45483 0 18.8514C0 22.9751 1.32902 26.7972 3.58883 29.9006L1.23948 36.9039L8.48546 34.5875C11.4663 36.5622 15.0222 37.7027 18.8561 37.7027C29.2502 37.7027 37.7027 29.2455 37.7027 18.8514C37.7027 8.45719 29.2502 0 18.8561 0Z" fill="#4CAF50"/>
                    <path d="M29.8249 26.6205C29.3701 27.9048 27.5651 28.9699 26.1253 29.2809C25.1403 29.4906 23.8537 29.6579 19.5226 27.8624C13.9827 25.5672 10.4151 19.9377 10.137 19.5725C9.87076 19.2072 7.89844 16.5916 7.89844 13.8864C7.89844 11.1813 9.27223 9.86403 9.82599 9.29849C10.2808 8.83427 11.0325 8.62219 11.7535 8.62219C11.9868 8.62219 12.1965 8.63397 12.3851 8.6434C12.9388 8.66696 13.2169 8.69995 13.5821 9.57419C14.0369 10.6699 15.1444 13.3751 15.2764 13.6531C15.4107 13.9312 15.545 14.3082 15.3565 14.6735C15.1798 15.0505 15.0242 15.2178 14.7462 15.5383C14.4681 15.8588 14.2042 16.1038 13.9262 16.4479C13.6717 16.7471 13.3842 17.0676 13.7047 17.6214C14.0251 18.1633 15.1326 19.9707 16.7633 21.4223C18.8676 23.2956 20.5736 23.8941 21.1839 24.1486C21.6387 24.3372 22.1807 24.2924 22.5129 23.9389C22.9347 23.4841 23.4555 22.7301 23.9857 21.9878C24.3627 21.4553 24.8387 21.3893 25.3383 21.5778C25.8473 21.7545 28.5407 23.0859 29.0944 23.3616C29.6482 23.6396 30.0134 23.7716 30.1477 24.0049C30.2797 24.2382 30.2797 25.3339 29.8249 26.6205Z" fill="#FAFAFA"/>
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="37.7027" height="37.7027" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        </div>

        <a href="mailto:info@motobloki-brait.ru" class="contacts__email">
            info@motobloki-brait.ru
        </a>
    </div>
</section>

<div class="container">
    {% include "../components/feedback-big.twig" %}
</div>
