<div class="container">
    <h1>Страница навигации</h1>
    <hr>
    <ul>
        <h2><a href="./home-page.html">Главная страница</a></h2>
        <h2><a href="./contacts.html">Контакты</a></h2>
        <h2><a href="./catalog.detail.html">Детальная каталога</a></h2>
        <h2><a href="./typed-page.html">Типовая страница</a></h2>
        <h2><a href="./basket.html">Корзина</a></h2>
    </ul>
</div>
