<div style="display: none">
    {% include "../components/call-popup.twig" with {
        title: "Заказать звонок!",
        main: "order"
    } %}
    {% include "../components/call-popup.twig" with {
        title: "Подберем<br /> технику под вас!",
        main: "tech"
    } %}
</div>
