.ceo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9rem;

  @include bp-tablet() {
    flex-direction: column;
    margin-bottom: 7.5rem;
  }
}

.ceo__block-text {
  margin-right: 2.5rem;
  background-color: map_get($gray, c_f5);
  padding: 5.2rem 5.2rem 17rem;
  position: relative;
  width: calc(50% - 2.5rem);
  min-height: 56rem;
  border-radius: 2rem;

  @include bp-tablet() {
    padding: 6.1rem 2rem 15rem;
    width: calc(100% + 4rem);
    border-radius: 0;
    margin: 0 -2rem 10rem;
  }
}

.ceo__block-text-title {
  margin-bottom: 2rem;

  @include bp-tablet() {
    margin-bottom: 0.5rem;
  }
}

.ceo__text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.ceo--show-more {
  margin-top: 7rem;
  color: map_get($color, primary-blue);
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.ceo__block-text_wrapper {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  width: 33.3rem;
  height: 32.2rem;

  img {
    width: 100%;
    height: 100%;
  }

  @include bp-tablet() {
    left: 50%;
    transform: translateX(-50%);
    bottom: -11.5rem;
  }
}

.ceo__block-img {
  margin-left: 2.5rem;
  width: calc(50% - 2.5rem);
  display: flex;
  flex-direction: column;

  > .ceo__text {
    margin-top: 3.7rem;
  }

  @include bp-tablet() {
    width: 100%;
    flex-direction: column-reverse;
    margin-left: 0;
  }
}

.ceo__block-img_wrapper {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 40.5rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include bp-tablet() {
    height: 20.2rem;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
  }
}

.ceo__mobile-adv {
  display: none;

  @include bp-tablet() {
    display: block;
  }
}
