<div class="banner-support-info">
    <div class="banner-support-info__text">
        <span>
            Проконсультируем вас<br />
            по всем параметрам и нюансам
        </span>

        <b>бензо-техники</b>
    </div>

    <div class="banner-support-info__image">
        <img src="./assets/images/bannerinfo.svg" alt="">
    </div>
</div>
