<div class="banner-call">
    <div class="banner-call__info">
        {% include "./banner-slider.twig" %}
        <div class="banner-call__adv">
            {% include "./advantages.twig" %}
        </div>
    </div>

    <div class="banner-call__form">
        {% include "./default-popup-form.twig" %}
    </div>
</div>
