<div class="banner-slider-wrapper js-banner-slider">
    <div class="banner-slider js-banner-slider-swiper">
        <div class="banner-slider__wrapper swiper-wrapper">
            <div class="banner-slider__slide swiper-slide">
                <img src="./assets/images/slide.png" alt="">
            </div>
            <div class="banner-slider__slide swiper-slide">
                <img src="./assets/images/slide.png" alt="">
            </div>
            <div class="banner-slider__slide swiper-slide">
                <img src="./assets/images/slide.png" alt="">
            </div>
            <div class="banner-slider__slide swiper-slide">
                <img src="./assets/images/slide.png" alt="">
            </div>
        </div>
    </div>
    
    <div class="banner-slider__nav">
        <div class="banner-slider__nav-item banner-slider__nav-item_prev js-banner-slider-prev">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11L6 6L1 1" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="banner-slider__nav-item banner-slider__nav-item_next js-banner-slider-next">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 11L1 6L6 1" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
</div>
