<div class="contacts-place">
    <div class="contacts-place__wrapper">
        <div class="contacts-place__title">
            Ваш город:
        </div>

        <div class="contacts-place__select js-select">
            <div class="contacts-place__select--trigger js-select-trigger">
                <input disabled type="text" value="Москва" class="js-select-option-item">

                <svg width="8" height="3" viewBox="0 0 8 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 3L7.4641 0H0.535898L4 3Z" fill="#6F6A72"/>
                </svg>
            </div>

            <div class="contacts-place__select--body js-select-dropdown">
                <div class="contacts-place__select--item js-select-options selected">
                    <span>Москва</span>
                </div>
                <div class="contacts-place__select--item js-select-options">
                    <span>Екатеринбург</span>
                </div>
            </div>
        </div>
    </div>
</div>

