<div class="feedback-big">
    <div class="feedback-big__img">
        <img src="./assets/images/form-man.svg" alt="">
    </div>

    <div class="feedback-big__form">
        {% include "./feedback-form.twig" with {
            title: "Оставьте заявку",
            descr: "Мы свяжемся с вами в ближайшее время"
        } %}
    </div>
</div>
