<div class="ceo">
    <div class="ceo__block-text">
        <div class="ceo__block-text-title block-title">
            О компании Бензомир
        </div>

        <div class="ceo__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra, et urna dui molestie erat at lacus ipsum.
            Tincidunt neque scelerisque quis morbi facilisi pulvinar et. Fringilla diam pulvinar eget est dui tincidunt
            tristique. Arcu, augue faucibus sodales at sit ultrices.
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra, et urna dui molestie erat at lacus ipsum.
        </div>

        <div class="ceo--show-more">
            Подробнее
        </div>

        <div class="ceo__block-text_wrapper">
            <img src="./assets/images/ceo-block-text.png" alt="">
        </div>
    </div>

    <div class="ceo__block-img">
        <div class="ceo__block-img_wrapper">
            <img src="./assets/images/ceo-block-img.png" alt="">
        </div>

        <div class="ceo__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra, et urna dui molestie erat at lacus ipsum.
            Tincidunt neque scelerisque quis morbi facilisi pulvinar et. Fringilla diam pulvinar eget est dui tincidunt
            tristique. Arcu, augue faucibus sodales at sit ultrices.
        </div>
    </div>

    <div class="ceo__mobile-adv">
        {% include "../components/advantages.twig" %}
    </div>
</div>
